html {
  scroll-behavior: smooth;
}

#thh
{

	/*border-top: 5px solid rgb(22, 25, 26);*/
	box-shadow: 10px 5px 15px gray;
	color:#ffff;
	background:deepskyblue;
	
}
#thh
{
	
	padding: 7px;

}
#tdd
{
	padding-left: 4px;
	padding-right: 4px;
}

#thh:hover
{
	/*border-bottom: 2px solid deepskyblue;
	border-right: 2px solid deepskyblue;*/
	border-radius: 5px;
	transition: 600ms;

}
#tdd
{
	border-right: 1px solid deepskyblue;
	border-bottom: 1px solid deepskyblue;
}
#tdd:hover ~ #tdd
{
	transition: 600ms;
	box-shadow: 10px 10px 15px gray;
}
#tdd:hover
{
	transition: 600ms;
	box-shadow: 10px 10px 15px gray;
}
@media screen and (max-width: 600px) {
	#form
	{
		margin-left: 10%;
	}
}
body{
background: #fff;
}
#form
{
	margin: auto;
}
.sel
{
	width: 100%;
	height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
	box-sizing: border-box;
}
.sel2
{
	width: 50%;
	height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
	box-sizing: border-box;
}
.sel3
{
	width: 70%;
	height: 50px;
  padding: 12px 20px;
	margin-top: -18.5%;
	margin-left: 45%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
	box-sizing: border-box;
}
.sel4
{
	width: 70%;
	height: 50px;
  padding: 12px 20px;
	margin-top: -17.5%;
	margin-left: 42%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
	box-sizing: border-box;
}
.sel5
{
	width: 70%;
	height: 50px;
  padding: 12px 20px;
	margin-top: -17.5%;
	margin-left: 42%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
	box-sizing: border-box;
}
.sel6
{
	width: 80%;
	height: 50px;
  padding: 12px 20px;
  margin: 0px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
	box-sizing: border-box;
}
.sel7
{
	width: 100%;
	height: 50px;
  padding: 12px 20px;
  margin: 0px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
	box-sizing: border-box;
}
.seldate
{
	width: 50%;
	height: 50px;
  padding: 12px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
	box-sizing: border-box;
}
.snps-inline-select {
    width: auto;
	display: inline-block;
	border: 1px solid deepskyblue;
}
.sar
{
	font-style: bold;
	background-color: brown;
	height: 30px;
	width: 100px;
	margin-top: 10px;
	line-height: 30px;
	cursor: pointer;
	color: white;
	border-radius: 7px;
	text-align: center;
	right: 0;
	position: fixed;
	margin-top: 50px;
}
#navbar {
	position: fixed;
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
	transition: top 0.3s; /* Transition effect when sliding down (and up) */
	z-index: 1;
}
#hcontainer
{
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}
#hcontainer div
{
	position: relative;
	height: 110%;
	width: 100%;
}
#returns
{
	height: 100%;
	width: 100%;
	scroll-behavior: smooth;
}
#returns div
{
	position: relative;
	height: 110%;
	width: 100%;
}


.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	border: 2px solid white;
	text-align: center;
	font-size: 12px;
	line-height: 1.42857;
}
inner-addon { 
	position: relative; 
}

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .fas {
  position: absolute;
  padding: 10px;
	pointer-events: none;
	color:black;
}

/* align glyph */
.left-addon .fas  { left:  0px;}
.right-addon .fas { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#footer { height: 100px; }


/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
	position: fixed;
	display: none;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
	overflow-y: scroll;
	color: white;
}

/* The content */
.overlay-content {
  position: relative;
  top: 8%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

/*Comment Section*/
.overlayc {
	height: 100%;
	width: 100%;
	position: fixed;
	display: none;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(54, 45, 45);
	background-color: rgba(29, 27, 27, 0.9); /* Black with a little bit see-through */
	overflow-y: scroll;
	color: white;
  }
  
  /* The content */
  .overlayc-content {
	position: relative;
	top: 8%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
  }
  
  /* Close button */
  .overlayc .closebtn {
	position: absolute;
	top: -10px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: white;
  }
  
  .overlayc .closebtn:hover {
	color: #ccc;
  }






/**/
#lds-dual-ring {
	position: absolute;
  width: 40px;
	height: 40px;
	margin-top: -3px;
	margin-left: -5.5px;
}
#lds-dual-ring:after {
  content: " ";
	display: block;
	margin-top: -3px;
	margin-left: -5.5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
	border: 2px solid #fff;
	border-style: dashed;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}