<div>
    {% if dalist.count > 0 %}
    <script>
        document.getElementById("datable").style.visibility = "hidden"; 
    </script>
    <p>Showing {{dalist.count}} results....</p>
    <table class="table table-hover table-bordered table-dark" style="margin: 0%;">  
        <thead>  
        <tr>  
            <th scope="col">Area Name</th>  
            <th scope="col">District</th>  
            <th scope="col">Division</th>  
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Alert</th>
            <th scope="col">Edit</th>  
            <th scope="col">Delete</th>
            <th scope="col">Created</th>
        </tr>  
        </thead>  
        <tbody>  
    {% for dalist in dalist %} 
     
        <tr>  
            <td>{{ dalist.daname }}</td>  
            <td>{{ dalist.dadistrict }}</td>  
            <td>{{ dalist.dadivision }}</td>  
            <td>{{ dalist.dalat }}</td>
            <td>{{ dalist.dalon }}</td>  
            <td>{{ dalist.daalert }}</td>
            <td>  
                <a href="/books/bedit/{{ blist.id }}/" class="btn btn-primary"><i class='fas fa-pencil-alt'></i> Edit</a>  
            </td>
                <td>
                <a href="/books/bdelete/{{ blist.id }}/"class="btn btn-danger"><i class='fas fa-trash-alt'></i> Delete</a>  
            </td>
            <td style="font-size:8px;">{{ dalist.dacreated_at }} <br>( {{ dalist.dacreated_at|timesince }} ago )</td>
            <!--<td>{{ employee.created_at|timesince|add:"2" }}</td>-->
            <!--<td>{{ employee.created_at|timeuntil }}</td>--> 
        </tr>  
    {% endfor %}  
        </tbody>  
    </table>  
    {% else %}
    <p>Nothing to show!</p>
    {% endif %}
</div>  